:host {
  display: block;
}

.section-cliente-login{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    text-align: center;
  }
  .form-login{
    min-width: 200px;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    mat-form-field, button{
      margin: 20px 0;
    }

    mat-form-field{
      width: 100%;
      font-size: 1.1em;
    }
  }
}
