<app-layout>
  <div class="app-fazer-pedido">
    <div class="row">
      <section *ngIf="clienteLogado$ | async as cliente" class="col-lg-2 informacoes-cliente p-4">
        <p>Nome: {{ cliente.nome }}</p>
        <p>CPF: {{ cliente.cpf }}</p>
        <p>Data de Cadastro: {{ cliente.dataCriacao | date:'dd/MM/yyyy' }}</p>
      </section>
      <section class="col-lg-10 conteudo">
        <div class="row px-3">
          <button
            [matBadge]="itensPedido.length" matBadgeColor="accent"
            mat-raised-button 
            color="primary" 
            style="width: 64px"
            (click)="onCartClick()"
          >
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
        <app-lista-item (app-add-item-pedido)="addItemPedido($event)" class="row py-3"></app-lista-item>
        <div class="container row px-3 d-flex justify-content-end text-end">
          <h3>Valor total: {{ valorTotalPedido | currency}}</h3>
          <button [disabled]="!itensPedido.length"
            mat-raised-button 
            color="primary"
            style="width: 160px"
            (click)="fazerPedido()"
          ><mat-icon>checkout</mat-icon> Finalizar Pedido</button>
        </div>
      </section>
    </div>
  </div>
</app-layout>