<app-layout>
  <div class="app-cliente">
    <div class="row">
      <section *ngIf="clienteLogado$ | async as cliente" class="col-lg-2 informacoes-cliente p-4">
        <p>Nome: {{ cliente.nome }}</p>
        <p>CPF: {{ cliente.cpf }}</p>
        <p>Data de Cadastro: {{ cliente.dataCriacao | date:'dd/MM/yyyy' }}</p>
        <button 
          mat-raised-button color="warn"
          routerLink="/cliente/fazer-pedido" 
          routerLinkActive="active"
        >Fazer novo Pedido</button>
      </section>
      <section class="col-lg-10 conteudo p-4">
        <app-lista-pedidos></app-lista-pedidos>
      </section>
    </div>
  </div>
</app-layout>