<header class="app-header">
  <mat-toolbar color="primary">
    <button mat-button class="example-icon" routerLink="/cliente" aria-label="WaiterApp logo">
      <img style="margin-left: -30px;" class="logo" src="../../../assets/logo-waiterapp-small.png"/>
      <span style="margin-left: -10px; font-size: 1rem;">WaiterApp</span>
    </button>
    <span class="example-spacer"></span>
    <button mat-button class="example-icon" aria-label="Login button">
      <mat-icon>login</mat-icon>
      <span style="margin-left: 10px;">Login Funcionário</span>
    </button>
 </mat-toolbar>
</header>
<main class="app-main">
  <ng-content></ng-content>
</main>

