:host{
  height: 100%;
  width: 100%;
  display: block;
}

.app-header{
  background-color: #c2185b;
  box-sizing: border-box;
  height: 64px;

  .example-spacer {
    flex: 1 1 auto;
  }
}

.app-main{
  box-sizing: border-box;
  background-color: #212121;
  color: #f0f0f0;
  padding: 20px;
  height: calc(100vh - 64px) !important;
  overflow: auto;
}